.game{'ng-controller' => 'TicTacToeCtrl'}
  .board
    %img{'ng-repeat' => 'space in spaces', 'ng-src' => "assets/{{space}}.gif", 'ng-click' => 'mark($index)', class: "space{{$index}}"}
  .game
    {{status}}
    %br
    =link_to 'reiniciar', root_path